p.blue{
   color:blue;
}


body{
    background-color: rgb(240, 232, 232);
    font-family: 'Courier New', Courier, monospace;
}

#footer{
    background-color: whitesmoke;
    border: 4px;
}

.container{   /* centers website content to the middle */
    margin: auto;
    width: 800px;
}     


.quals{
    border-collapse: collapse;
}
.quals th{
    border-bottom:3px solid #ccc;
    padding:5px;
}
.quals td{
    border-bottom:1px solid #ccc;
    padding:5px;
}
